RewriteEngine On

# Biarkan HTTPS diatur via cPanel saja agar tidak bentrok
# Hanya aturan SPA agar dashboard bisa diakses langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
